<h1>Pens <% if logged_in? %><a href="/pens/new">+</a><% end %></h1>

<ul>
  <% @pens.each do |p| %>
    <li><a href="/pens/<%= p.id %>"><%= p.pen_brand.name %> <%= p.model %>
       <% if p.description.present? %> - <%= p.description %></h3><% end %></a></li>
  <% end %>
</ul>
