<h1>Add Pen</h1>

<form class="" action="/pens" method="post">
  <label for="brand">Brand</label><br>
  <input type="text" name="pen[pen_brand]" value="">
  <br><br>

  <label for="model">Model</label><br>
  <input type="text" name="pen[model]" value="">
  <br><br>

  <label for="Type">Type</label><br>
  <select name="pen[pen_type]">
    <% PenType.all.each do |t| %>
      <option value="<%= t.name %>"><%= t.name.capitalize %></option>
    <% end %>
  </select> +
  <br><br>

  <label for="description">Descriptor</label><br>
  <input type="text" name="pen[description]" placeholder="color and/or material">
  <br><br>

  <input type="submit" name="submit" value="add">
</form>


<!-- t.integer "pen_type_id"
t.integer "pen_brand_id"
t.string "model"
t.string "description"
t.text "note"
t.boolean "favorite"
t.integer "user_id" -->
