<h1>Inks <% if logged_in? %><a href="/inks/new">+</a><% end %></h1>

<ul>
  <% @inks.each do |i| %>
    <li class="ink">
      <a href="/inks/<%= i.id %>">
         <div class="ink-name"><%= i.ink_brand.name %> <%= i.name %></div>
         <div class="ink-swatch" style="background: <%= i.swatch if i.swatch %>"></div>
      </a>
    </li>
  <% end %>
</ul>
