<form class="" action="/inks" method="post">
  <h1>New Ink
    <input id='fav' type='checkbox' name="ink[favorite]" value="true">
    <label for='fav'>
        <span class="heart-off"></span>
        <span class="heart"></span>
    </label>
  </h1>

  <label for="brand">Brand</label><br>
  <input type="text" name="brand" required>
  <br><br>

  <label for="ink[name]">Name</label><br>
  <input type="text" name="ink[name]" required>
  <br><br>

  <br><br>

  <label for="ink[swatch]">Color Swatch</label><span class="hint"> (optional)</span><br>
  <input type="color" name="ink[swatch]" value="#000000">
  <br><br>

  <label for="">Color Type</label><span class="hint"> (optional) - can belong to multiple</span><br>
  <div class="color-fam-list">
    <% ColorFamily.all.each do |cf| %>
      <label class="color-fam"><%= cf.name.capitalize %>
        <input type="checkbox" name="ink[color_family_ids][]" value="<%= cf.id %>">
          <span class="checkmark <%= cf.name %>"></span>
      </label>
    <% end %>
  </div>
  <br>

  <label for="ink[note]">Note</label> <span class="hint">(optional) - anecdotes, behavior, qualities, cost, and so on</span></label><br>
  <textarea name="ink[note]" rows="5" cols="75"></textarea>
  <br><br>

  <input type="submit" name="submit" value="Add">
</form>
