<form class="" action="/inks" method="post">
  <h1>New Ink
    <input id='fav' type='checkbox' name="ink[favorite]" value="true">
    <label for='fav'>
        <span class="heart-off"></span>
        <span class="heart"></span>
    </label>
  </h1>

  <label for="brand">Brand</label><br>
  <input type="text" name="brand" required>
  <br><br>

  <label for="ink[name]">Name</label><br>
  <input type="text" name="ink[name]" required>
  <br><br>

  <label for="ink[swatch]">Color Swatch</label><br>
  <input type="color" name="ink[swatch]" value="#000000">
  <br><br>

  <label for="">Color Type(s)</label><br>
  <% ColorFamily.all.each do |cf| %>
    <label class="color-fam"><%= cf.name.capitalize %>
      <input type="checkbox" name="color_families[]" value="<%= cf.id %>">
        <span class="checkmark <%= cf.name %>"></span>
    </label>
  <% end %>
  <br><br>

  <label for="ink[note]">Note</label>  <label for="show-hint"><span class="small-button">?</span></label>
    <input type="checkbox" id="show-hint">
    <span id="hint">Use <em>&lt;br&gt;&lt;br&gt; </em> to create paragraphs.</span><br>
  <textarea name="ink[note]" rows="5" cols="75"></textarea>
  <br><br>

  <input type="submit" name="submit" value="add">
</form>
