
 /*--- fonts --- */
 *, nav a, a.camo-link, a.detail-link, a.hover-link {
    font-family: 'Cormorant Garamond', serif;
 }

a, input, label, textarea, select, option, button, .flash-wrapper, .flash-wrapper strong {
  font-family: 'Roboto', sans-serif;
}
 /*--- links --- */
a {
  display: inline-block;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #ff5400;
}

a.camo-link {
  color: black;
  font-weight: 400;
}

a.hover-link {
  color: black;
  font-size: 100%;
}

a:after, input.link-input:after, ul.index-list li a div h2:after {
  display: block;
  content: '';
  border-bottom: solid 1.5px #ff5400;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: 100% 50%;
}

a:hover:after, input.link-input:hover:after, ul.index-list li:hover a div h2:after{
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

a.camo-link:after, a.button-link:after, a.ghost-link:after {
  display: none;
}

nav a {
  font-weight: 400;
  color: black;
  font-size: 1.5em;
  padding-right: 20px;
  margin-bottom: 1px;
  transition: color 0.3s ease;
}

a.detail-link {
  font-weight: 600;
  color: black;
  font-size: 100%;
  line-height: 115%;
  transition: color 0.3s ease;
}

nav a:hover, a.detail-link:hover, a.hover-link:hover {
  border: none;
  color: #ff5400;
}

nav a:after {
  padding-bottom: 2px;
}

 /*--- inputs and buttons ---*/
input, textarea, select {
  width: 220px;
  padding: 8px;
  margin: 3px 0 0 0;
  border: 1px solid #d1d1d1;
  background-color: #f9f9f9;
}

input:focus, textarea:focus, select:focus {
  background-color: white;
}

textarea {
  width: 480px;
}

select {
  width: 238px;
}

 input[type=button], input[type=submit], input[type=reset] {
  width: 238px;
  height: 2.5em;
  border-color: #f23004;
  background-color: #ff5400;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

 input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, a.button-link:hover {
  background-color: #f23004;
}

input.ghost-button, input[type=reset], input[value=Delete], a.ghost-link {
  border: 2px solid #A9A9A9;
  background-color: #f9f9f9;
  color: #A9A9A9;
  transition: all 0.3s ease;
  margin-left: 22px;
}

input.ghost-button:hover, input[type=reset]:hover, input[value=Delete]:hover, a.ghost-link:hover {
  border-color: #A9A9A9;
  background-color: #A9A9A9;
  color: white;
}

a.button-link {
  width: 238px;
  text-align: center;
  padding: 5px 0 6px 0;
  border: 1px solid #f23004;
  background-color: #ff5400;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

a.ghost-link {
  width: 234px;
  text-align: center;
  padding: 5px 0;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

a.add-button {
  position: relative;
  bottom: 3px;
  left: 2px;
  text-align: center;
  padding: 0 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
}

a.add-button:hover {
  color: white;
  background: #ff5400;
}

a.add-button::after {
  border: none;
}

input.link-input {
  width: auto;
  position: relative;
  top: 3px;
  padding: 3px 7px;
  height: auto;
  font-size: 1.25em;
  font-weight: 700;
  background: white;
  border: none;
  color: #ff5400;
  transition: all 0.3s ease;
}

input.link-input:hover {
  background: #ff5400;
  color: white;
}

/* --- flash messages --- */
.flash {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.25em 0;
    background-color: DodgerBlue;
    color: white;
    z-index: 1;
    opacity: 1;

    -webkit-animation: fadeOut 1s forwards;
    animation: fadeOut 1s forwards;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;

    transition: opacity 0.2s;
    }

    @-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
    }

    @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
    }

.flash-wrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 85%;
}


.flash-wrapper::before {
  font-weight: 700;
  content: "Hey there! "
}

.success .flash-wrapper::before {
  content: "Sweet Success! "
}

.error .flash-wrapper::before {
  content: "Uh oh! "
}

.closebtn {
    cursor: pointer;
    float: right;
    margin-left: 15px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    padding: 3px 6px 1px 6px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.closebtn:hover {
    color: DodgerBlue;
    background: white;
}

.error .closebtn:hover {
  color: #ff5400;
}

.error {
  background: #ff5400;
}

.success .closebtn:hover {
  color: YellowGreen;
}
.success {
  background: YellowGreen;
}

/* button styles*/
input[type=color] {
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, .2);
  height: 100px;
  width: 100px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* small button */
.small-button {
  background-color: rgba(0, 0, 0, .2);
  border: none;
  padding: 2px 5px;
}

/* toggle hide */
.hide {display: none;}

.show {display: inline;}
.showBlock {display: block;}

/* fav heart button */
#fav {
  display: none
}

#fav+label {
  padding: 3px 3px;
  cursor: pointer
}

.heart-off::after {
  content: "\2661";
}

.heart::after {
  content: "\2665";
  color: #F06586;
}

#fav+label>.heart-off {
  display: inline-block
}

#fav+label>.heart {
  display: none;
}

#fav:checked+label>.heart-off {
  display: none;
}

#fav:checked+label>.heart {
  display: inline-block
}

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    font-size: 1.15em;
    line-height: 130%;
  }

  .wrapper {
    background: #fff;
    margin: 16px auto;
    max-width: 600px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  nav {
    margin-bottom: 8px;
  }

  h1, h2, h3 {
    width: 100%;
    max-width: 600px;
    font-weight: 600;
  }

  label {
    font-size: 0.9em;
  }

  a, input, textarea, select, button {
    font-size: 0.8em;
  }

  h1 {
    font-size: 400%;
    line-height: 100%;
  }

  h2 {
    font-size: 200%;
    line-height: 100%;
  }

  h3 {
    font-size: 100%;
    line-height: 100%;
  }

  p {
    margin-bottom: 1.8em;
  }

  form {
    display: inline;
  }
  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }


  footer {
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

 /*--- Index List Styles ---*/
.index-list a {
  width: 100%;
  height: 100px;
  display: flex;
  display: -webkit-flex;
  margin-bottom: 16px;
}

 .index-list img, .ink-swatch {
   float: left;
   width: 100px;
   height: 100px;
   padding: 0;
   margin-right: 20px;
}

.description {
  float: left;
  margin: auto 0;
}

.description span {
  font-size: 1.15em;
  line-height: 130%;
}

.pen-list a {
  height: 70px;
}

/*--- Detail Page --- */
.profile-image, .swatch {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 30px 30px 0;
}


.details {
  position: relative;
  height: 200px;
  margin-left: 200px;
}

.base-details {
  position: absolute;
  margin-bottom: 0;
  bottom: -0.5em;
  left: 30px;
}

 /*--- Ink Edit and Create Style ---*/
 /* The color-fam */
 .color-fam-list {
   column-count: 2;
   width: 470px;
 }

 .color-fam {
     display: inline-block;
     position: relative;
     padding-left: 32px;
     margin-bottom: 0.1em;
     /* Create the checkmark/indicator (hidden when not checked) */
     .checkmark:after {
         content: "";
         position: absolute;
         display: none;
     }

     /* Show the checkmark when checked */
     .color-fam input:checked ~ .checkmark:after {
         display: block;
     }

     /* Style the checkmark/indicator */
     .color-fam .checkmark:after {
         left: 4px;
         top: 4px;
         width: 5px;
         height: 10px;
         border: solid white;
         border-width: 0 3px 3px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
     }
     cursor: pointer;
     width: 222px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 /* Hide the browser's default checkbox */
 .color-fam input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
 }

 .color-fam label {
     top: 50%;
 }

 /* Create a custom checkbox */
 .checkmark {
     position: absolute;
     top: 1px;
     left: 4px;
     height: 15px;
     width: 15px;
     border-radius: 50%;
     border: 2px solid #ccc;
     background-color: transparent;
     transition: all .3s ease;
 }

 /* On mouse-over and checked, resize and remove border */
 .color-fam:hover input ~ .checkmark, .color-fam input:checked ~ .checkmark {
     top: 0;
     left: 2px;
     border: 0 solid transparent;
     height: 23px;
     width: 23px;
 }

 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }

 /* Show the checkmark when checked */
 .color-fam input:checked ~ .checkmark:after {
     display: block;
 }

 /* Style the checkmark/indicator */
 .color-fam .checkmark:after {
     left: 8px;
     top: 4px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }


 /* Custom bgs for each color family */
 .color-fam:hover input ~ .black, .color-fam input:checked ~ .black {
 	background-color: black;
 }

 .color-fam:hover input ~ .blue, .color-fam input:checked ~ .blue {
 	background-color: blue;
 }

 .color-fam:hover input ~ .red, .color-fam input:checked ~ .red {
 	background-color: red;
 }

 .color-fam:hover input ~ .yellow, .color-fam input:checked ~ .yellow {
 	background-color: #FFD700;
 }

 .color-fam:hover input ~ .green, .color-fam input:checked ~ .green {
 	background-color: #006400;
 }

 .color-fam:hover input ~ .orange, .color-fam input:checked ~ .orange {
 	background-color: #FF8C00;
 }

 .color-fam:hover input ~ .violet, .color-fam input:checked ~ .violet {
 	background-color: #9400D3;
 }

 .color-fam:hover input ~ .pink, .color-fam input:checked ~ .pink {
 	background-color: #FF69B4;
 }

 .color-fam:hover input ~ .gray, .color-fam input:checked ~ .gray {
 	background-color: Gray;
 }

 .color-fam:hover input ~ .brown, .color-fam input:checked ~ .brown {
 	background-color: brown;
 }

 .color-fam:hover input ~ .dark, .color-fam input:checked ~ .dark {
 	background-color: dark;
 }

 .color-fam:hover input ~ .dark, .color-fam input:checked ~ .dark {
 	background-color: #3c3c3d;
 }

 .color-fam:hover input ~ .light, .color-fam input:checked ~ .light {
 	background-color: #f9ecd1;
 }

 .color-fam:hover input ~ .shimmer, .color-fam input:checked ~ .shimmer {
 	background-image: url("/images/color_family/shimmer.jpg");
   background-repeat: no-repeat;
 }

 .color-fam:hover input ~ .metallic, .color-fam input:checked ~ .metallic {
 	background-image: url("/images/color_family/metallic.jpg");
   background-repeat: no-repeat;
 }

 .color-fam:hover input ~ .other, .color-fam input:checked ~ .other {
 	background-color: #ccc;
 }
