

<h1>Warning!!!</h1>
<p>Are you sure you want to delete your entire account?</p>

<a href="/users/<%= @user.slug %>">no</a>
<br><br>

<input type="button" name="yes" id="yes-button" value="yes">
<br><br>

<form id="confirm-form" class="hide" action="/users/<%= @user.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">

  <label for="password">Password</label><br>
  <input id="password" type="password" name="password" required=""><br>

  <input type="submit" name="submit" value="confirm">
</form>

<script type="text/javascript">

document.getElementById("yes-button").onclick = function() {toggleHidden("confirm-form")};

function toggleHidden(name) {
  document.getElementById(name).classList.toggle("show");
}


</script>
