<h1>Ink Well</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<form class="" action="/login" method="post">
  <label for="username">Username / Email</label><br>
  <input type="text" name="login" value="" required>
  <br><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" value="" required>
  <br><br>

  <input type="submit" name="submit" value="Login">
</form>

<br><br>
<a class="centered-link" href="/users/new">Create New Account</a>
